body {
   margin: 10px;
   background-color: #112233;
   color: #999;
}

body {
   font-family: "Ubuntu Mono", Consolas, "Lucida Console", "Courier New", "SF Mono", Monaco, monospace;
   font-size: 12px;
}

@media (prefers-color-scheme: light) {
   body.adaptive {
      background-color: #ccddee;
      color: #333;
   }
   input.adaptive, textarea.adaptive {
      background-color: #c1d3e5;
      color: #064b50;
   }
 }

#mainCanvas {
   border: solid 1px #800000;
}

textarea {
   margin-top: 10px;
   background: #112233;
   border: solid 1px #800000;
   padding: 5px;
   color: #999;
}

#info {
   display: block;
   width: 500px;
   height: 120px;
}

#gap:after {
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-track {
   background: rgba(26,26,42,.8)
}

::-webkit-scrollbar {
   width: 10px;
   height: 10px
}

::-webkit-scrollbar-thumb {
   border-radius: 3px;
   background: #1b586d
}

::-webkit-scrollbar-thumb:hover {
   background: #1b586d
}