body {
   margin: 10px;
   background-color: #112233;
   color: #999;
}

body {
   font-family: "Ubuntu Mono", Consolas, "Lucida Console", "Courier New", "SF Mono", Monaco, monospace;
   font-size: 12px;
}

@media (prefers-color-scheme: light) {
   body.adaptive {
      background-color: #ccddee;
      color: #333;
   }
   input.adaptive {
      background-color: #c1d3e5;
      color: #064b50;
   }
 }

#mainCanvas {
   border: solid 1px #800000;
}

input {
   margin-top: 10px;
   background: #112233;
   border: solid 1px #800000;
   padding: 5px;
   color: #999;
   font-size: 12px;
   width: 450px;
}